@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700&family=Italiana&family=Noto+Sans&family=Noto+Sans+KR:wght@100;300;400;500;700&family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700&display=swap');

/* 
font-family: 'Gothic A1', sans-serif;
font-family: 'Italiana', serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Prompt', sans-serif;
 */

* {
    margin: 0;
    padding:0;
    color: white;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 100;
}


body {
    display: flex;
    flex-direction: column;
    background-color: black;
    
}
/* 상단바 구역 */
.upper-bar {
    position: top;
    padding: 2em 0 0;
    text-align: center;
    align-items: center;
    justify-content: center;

}

#title {
    width: auto;
    height: auto;
    float: left;
    padding-left: 2.5em;
    font-family: 'Prompt', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;

    color: #FFFFFF;
}

/* 메뉴 부분 */


 ul, li{
     list-style: none;
 }

 a {
     text-decoration: none;
     color:inherit;
 }

 .menu-wrap{
     width: 450px;
     justify-content: space-evenly;
     float: right;
 }

 .menu-wrap .dep1 > li{
    display:inline-block;
    width: 100px;
    vertical-align: top;
    font-family: 'Prompt', sans-serif;
    font-size: 15px;
    font-weight:800;
    text-align: center;
    margin: 0 10px;
 }

 .menu-wrap .dep1 > li > a{
    font-family: 'Prompt', sans-serif;
    font-size: 13px;
    font-weight:500;
 }

 .menu-wrap .dep1 > li:hover > .dep2{
     display: block;
 }

 .menu-wrap .dep2 > li > a{
    font-family: 'Gothic A1', sans-serif;
    font-weight: 300;
    font-size: 13px;
    width: 100px;
    padding: 10px 0;
    
 }

 .menu-wrap .dep2 > li{
     display: flex;
     width: 100px;
     padding: 3px 0;
     background-color: rgba(46, 46, 46, 0.842);
     transition: background 0.23s ease-in-out,
     color 0.23s ease-in-out;
 }

 .menu-wrap .dep2 > li:hover {
    background-color: rgb(24, 24, 24);
}


 .menu-wrap .dep2 {
     position: absolute;
     display: flex;
     flex-direction: column;
     padding: 3px 0;
     
     display:none;
     z-index: 40;
    
 }




/* 컨텐츠 영역 */
.box-body {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow: hidden;
    z-index: 2;

}



/* 왼쪽 박스 설정 */
.left-box {
    display: flex;
    flex-direction: column;
    padding-left: 2.5em;

}

/* 꽃 이름과 설명 부분 */

.flower-index {

    font-family: 'Gothic A1', sans-serif;
    font-weight: 600;
    font-size: 18px;
    padding-top: 20%;
    width: 101px;
    height: 22px;
}

.flower-index img{
    width: 13px;
    width: 13px;
    padding-right: 3px;
}

#flower-name {
    font-family: 'Italiana', serif;
    font-size: 90px;
    text-align: left;
    width: 231px;
    height: 80px;
    padding-top: 5px;
    margin: 0;
    
}

.flower-detail {
    font-family: 'Gothic A1', sans-serif;
    font-weight: 100;
    font-size: 13px;
    padding-top: 30px;
    line-height: 180%;
    width: 342px;
    height: 120px;
}


/* origin과 family 부분 */
.catagory-container {
    display: flex;
    font-size: 13px;
    flex-direction: row;
    padding-top: 6em;
}

.caragory-container {
    width: 236px;
    height: 57px;
}

.origin-container {
    display: flex;
    flex-direction: column;
    padding-right: 100px;
}

.family-container {
    display: flex;
    flex-direction: column;
}

.origin-index{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 0.7em;
}

.family-index{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 0.7em;
}

.origin-detail{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}
.family-detail{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}




/* 페이지 넘어가는 버튼 영역 */
.page-btn-container{
    display: flex;
    flex-direction: row;
    padding-top: 5em;
}

.page-btn{
    width: 8px;
    height: 8px;
    padding-right: 6px;
}

/* 가운데 박스 설정 */
.middle-box {

}



.flower-img-container {
    width: 640px;
    height: 620px;
    overflow:hidden;
    margin:0 auto;

}

.flower-img {
    width:100%;
    height:100%;
    object-fit:cover;
}


/* 오른쪽 박스 설정 */

.right-box {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-left: 70px;
}


.flower-scroller{
    display: flex;
    padding-top: 30%;
    flex-direction: row;
    width: 712px;
    height: 120px;
    overflow: scroll;
}

.flower-scroller::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.flower-scroller img{
    height: auto;
    width: 232px;
    object-fit:none;
    padding-right: 6px;
}

.concept-detail {
    width: 312px;
    height: 80px;
}

.order-button {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.5px;
    width: 310px;
    height: 64px;
    text-align: center;
    vertical-align: middle;
    background-color: rgba(182, 182, 182, 0.253);
    cursor: pointer;
    border: none;
    outline: 0;
    transition: background 0.23s ease-in-out,
     color 0.23s ease-in-out;

}

.order-button:hover{
    background-color: rgba(182, 182, 182, 0.219);
}

.concept-title{
    font-size: 15px;
    padding-top: 30px;
}

.concept-detail{
    width: 312px;

    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 30px;
    line-height: 150%;
}
